<style>
   h5{margin-bottom: 2rem;}
   footer .contact li span{display:block;padding-left:1.2rem;}
</style>
   {{!-- footer  ul.social li{display: inline-block!important;margin-left:1rem;} --}}
      {{!-- footer  ul.social{margin-top:1rem;padding-left:0;} --}}
<footer class="bd-footer py-4 py-md-3 mt-5 bg-light">
  <div class="container py-4 py-md-3 px-4 px-md-3">
    <div class="row">
      <!-- Links Column 1 -->
      {{!-- <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Home</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/products">Products</a></li>
          <li class="mb-2"><a href="/about">About</a></li>
          <li class="mb-2"><a href="/contact">Contact</a></li>
        </ul>
      </div> --}}

      <!-- Products Column -->
      <div class="col-12 col-md-4 col-lg-4 mb-4">
        <h5>Products</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/product/medium-frequency-electrotherapy-device">Medium Frequency Electrotherapy Device</a></li>
          <li class="mb-2"><a href="/product/low-frequency-resonance-activator-7.8-hz">Bio Energy Terahertz Device</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-4 mb-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/support/contact">Contact</a></li>
          <li class="mb-2"><a href="/support/faq">FQA</a></li>
          <li class="mb-2"><a href="/privacy-policy">Privacy Policy</a></li>
          <li class="mb-2"><a href="/terms">Terms & Conditions</a></li>
        </ul>
      </div>
      
      <!-- Community Column -->
      {{!-- <div class="col-6 col-md-4 col-lg-2 mb-4"> 
        <h5>Community</h5>
       <ul class="list-unstyled social">
          <li class="mb-2" style="margin-left:0;"><a href="#."><i class="fab fa-twitter me-1"></i></a> Twitter</li>
          <li class="mb-2"><a href="#."><i class="fab fa-facebook-f me-1"></i></a> Facebook</li>
          <li class="mb-2"><a href="#."><i class="fab fa-instagram me-1"></i></a> Instagram</li>
          <li class="mb-2"><a href="#."><i class="fab fa-youtube me-1"></i></a> Youtube</li> 
          <li class="mb-2"><a href="mailto:info@minshengmedical.com" target="_blank"><i class="fas fa-envelope me-1"></i> Email</a></li>
          <li class="mb-2"><a href="https://wa.me/64204848398" target="_blank"><i class="fab fa-whatsapp me-1"></i> WhatsApp</a></li>
        </ul>
      </div>  --}}

      <!-- Contact & Logo Column -->
      <div class="col-12 col-md-12 col-lg-4 mb-4">
        <a href="/" class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none">
          {{!-- <img src="/images/picture/topley.png" alt="B2B Shop" width="40" height="32" class="me-2"> --}}
          <span class="fs-5 fw-bold">Topley</span>
        </a>
        <ul class="list-unstyled small text-muted contact">
          <li>Minsheng Medical is a Chinese manufacturer specializing in precision frequency treatment equipment.</li> <br>
          <li><i class="fas fa-phone"></i>  (086) 13002632911</li>
          <li><i class="fas fa-envelope"></i> info@hzminsheng.com  <span>hzminsheng@hotmail.com</span></li>
        </ul>  
        {{!-- <ul class="list-unstyled social">
          <li class="mb-2" style="margin-left:0;"><a href="#."><i class="fab fa-twitter me-1"></i></a></li>
          <li class="mb-2"><a href="#."><i class="fab fa-facebook-f me-1"></i></a></li>
          <li class="mb-2"><a href="#."><i class="fab fa-instagram me-1"></i></a></li>
          <li class="mb-2"><a href="#."><i class="fab fa-youtube me-1"></i></a></li> 
        </ul> --}}
      </div>
  </div>
  <p style="text-align:center;color: grey;">Copyright © 2025 Hangzhou Minsheng Medical Technology Co., Ltd. All rights reserved.</p>
</footer>
