      <!-- banner -->
      <section class="sb-banner sb-banner-xs sb-banner-color supportTop">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title">
                  <h1 class="sb-h2">About us</h1>
                  <ul class="sb-breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                  </ul>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->

      <!-- About text -->
      <section class="sb-about-text sb-p-60-0">
        <div class="sb-bg-2" style="margin-top: 90px">
          <div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-2 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="/images/picture/factory.jpg" alt="interior" class="sb-interior" style="object-position: center">
                </div>
                <div class="sb-square"></div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
                <div class="sb-experience">
                  <div class="sb-exp-content">
                    <p class="sb-h1 sb-mb-10">17</p>
                    <p class="sb-h3">Years Experiense</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center sb-mb-60">
              <h2 class="sb-mb-60">Minsheng Medical: Innovation at the Heart of Healthcare</h2>
              <p class="sb-text sb-mb-30">Nestled in the vibrant heart of Guangzhou, Minsheng Medical proudly stands as an illustrious beacon of innovation and excellence in the medical equipment industry. Our strategic location amplifies our capabilities, seamlessly integrating us into a global network of innovation.</p>
              <p class="sb-text sb-mb-60">Minsheng Medical emerges as a distinguished leader in physical therapy equipment technology, expertly blending pioneering research with exceptional production capabilities. We consistently set new benchmarks for quality and precision in healthcare technology.</p>
              <img src="/images/picture/signature.png" alt="Minsheng Medical Signature" class="sb-signature sb-mb-30">
            </div>
          </div>
        </div>
      </section>
      <!-- About text end -->

      <!-- features -->
      <section class="sb-p-0-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">01</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Unsurpassed Quality Assurance</h3>
                  <p class="sb-text">State-of-the-art quality control system ensuring excellence at every step</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">02</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Exceptional Service Excellence</h3>
                  <p class="sb-text">Building enduring relationships based on trust and mutual respect</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">03</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">OEM Customization Available</h3>
                  <p class="sb-text">Personalized solutions for your brand's distinctive identity</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">04</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Unrivaled Pricing Strategy</h3>
                  <p class="sb-text">Exceptional value with market's most favorable price-to-performance balance</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">05</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Prompt and Reliable Delivery</h3>
                  <p class="sb-text">Swift shipping with remarkable precision and reliability</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features end -->

      <!-- video -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <span class="sb-suptitle sb-mb-15">Company Vision</span>
                <h2 class="sb-mb-30">Innovation at the Core of Healthcare</h2>
                <p class="sb-text sb-mb-30">Minsheng Medical is dedicated to revolutionizing healthcare technology through cutting-edge solutions and unwavering commitment to excellence.</p>
                <!-- button -->
                <a data-fancybox="" data-no-swup="" href="/products" class="sb-btn">
                  <span class="sb-icon">
                    <img src="/images/picture/play.svg" alt="icon">
                  </span>
                  <span>Our Products</span>
                </a>
                <!-- button end -->
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="/images/picture/finished-goods-warehouse.jpg" alt="interior" class="sb-interior">
                  {{!-- <img src="/images/picture/interior-2.jpg" alt="interior" class="sb-interior"> --}}
                  {{!-- <a data-fancybox="" data-no-swup="" href="javascript:;" class="sb-video-play"><i class="fas fa-play"></i></a> --}}
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- video end -->

      <!-- factory -->
      <section class="sb-team sb-p-0-60">
        <div class="sb-bg-2">
          <div></div>
        </div>
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
      <h2 class="sb-cate-title sb-mb-30">Our Factory: A Hub of Continuous Innovation</h2>
      <p class="sb-text">Our state-of-the-art manufacturing facility operates 24/7, ensuring consistent quality and timely delivery. Our team of skilled professionals is dedicated to excellence in every production run.</p>
            </div>
            {{!-- <div class="sb-right sb-mb-30">
              <!-- button -->
              <a href="menu-1.html" class="sb-btn sb-m-0">
                <span class="sb-icon">
                  <img src="/images/picture/menu.svg" alt="icon">
                </span>
                <span>Open menu</span>
              </a>
              <!-- button end -->
            </div> --}}
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <img src="/images/picture/aging-room.jpg" alt="Team member">
                </div> 
                <div class="sb-member-description">
                  <h4 class="sb-mb-10">Aging Room</h4>
                  {{!-- <p class="sb-text sb-text-sm sb-mb-10">working</p> --}}
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <img src="/images/picture/raw-materials-warehouse.jpg" alt="Team member">
                </div>
                <div class="sb-member-description">
                  <h4 class="sb-mb-10">Raw Materials Warehouse</h4>
                  {{!-- <p class="sb-text sb-text-sm sb-mb-10">Assistant chef</p> --}}
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <img src="/images/picture/checkout-room.jpg" alt="Team member">
                </div>
                <div class="sb-member-description">
                  <h4 class="sb-mb-10">Checkout Room</h4>
                  {{!-- <p class="sb-text sb-text-sm sb-mb-10">Chef</p> --}}
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <img src="/images/picture/sample-room.jpg" alt="Team member">
                </div>
                <div class="sb-member-description">
                  <h4 class="sb-mb-10">Sample Room</h4>
                  {{!-- <p class="sb-text sb-text-sm sb-mb-10">Assistant chef</p> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- team end -->