      <!-- banner -->
      <section class="sb-banner sb-banner-xs sb-banner-color supportTop">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title">
                  <h1 class="sb-h2">Frequently Asked Questions</h1>
                  <ul class="sb-breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/support/faq">FAQ</a></li>
                  </ul>
                </div> 
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->

    <!-- faq 1 -->
    <section class="sb-p-60-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="sb-mb-90">
              <h2 class="sb-cate-title">Ordering & Payment</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="sb-faq">
              <li>
                <div class="sb-question">
                  <h4>How to buy your products? Do you have distributor in our country?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">You can buy the products from our company directly. Normally the procedure is: Sign the contract, payment by T/T, contact the shipping company to deliver the goods to your country.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>What are your prices and minimum order quantities (MOQ)?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">We directly give factory price according to different quantities, our MOQ is 1 unit.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>What kind of payment methods do you accept?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Normally we accept bank transfer (T/T), online payment, western union, for other payment methods can discuss further; 50% deposit, 50% balance before delivery.</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="sb-faq">
              <li>
                <div class="sb-question">
                  <h4>What is the average lead time?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">For minimum order, normally our lead time is 3-7 days. For large quantities order, it depends on current production condition and client's specific requirements.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>What is the shipping way and shipping fee?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Normally several shipping ways for reference: clients choose fast express from door to door service, competitive air freight from door to airport service, or cheap sea freight from door to port service; the shipping fee is different according to shipping way above, please inquiry us for more details.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>How long is the validity of quotation?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Generally, our price is valid within one month from the date of quotation. The price will be adjusted appropriately according to the price fluctuation of raw material and change in the market.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- faq 1 end -->
    
    <!-- faq 2 -->
    <section class="sb-p-90-90">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="sb-mb-90">
              <h2 class="sb-cate-title">Product & Warranty</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="sb-faq">
              <li>
                <div class="sb-question">
                  <h4>What is the warranty?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Normally we offer 1-2 years warranty according to different kinds of machines; during warranty, the spare parts are free sent and replaced.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>Are you a factory?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Yes,we are the professional manufacturer and exporter integrated with research, development, production, marketing and services; we have rich experience and knowledge accumulation of medical equipment industry for more than 17 years; factory is audited reliable supplier by worldwide famous TUV and SGS.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>What is your main products?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Our company focuses on health equipment of high quality, and our main devices include Medium Frequency Therapy Device, Taiherz Field Guide, etc.</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="sb-faq">
              <li>
                <div class="sb-question">
                  <h4>Do you have the CE certificate?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Yes, most of our products have the CE certificate.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>Can we visit your country?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Of course, we will prepare for everything in advance if necessary. Generally, it is required that customers should have established agency relationship or business relationship with our company.</div>
              </li>
              <li>
                <div class="sb-question">
                  <h4>OEM and ODM service available?</h4>
                  <span class="sb-plus-minus-toggle sb-collapsed"></span>
                </div>
                <div class="sb-answer sb-text">Yes, both business types are available. What's more, as a manufacturer, we can still provide a complete solution including software design, hardware design, body design, structure design for customized requirements; welcome to inquiry; join us, and create the bright beauty future together.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- faq 2 end -->