{{#extend "css"}}
<link rel="canonical" href="">
  <style>
    
    .sb-top {
      border-radius: 2%;
      height: 300px;margin-top: 250px
    }
    .d-none-mobile {
      display: block;
    }
    .sb-about-text.sb-p-90-0 {
      padding-top: 30px !important;
    }
    @media (max-width: 991px) {
      .d-none-mobile {
        display: none;
      }
    }
    .swiper-wrapper {overflow: scroll;} 
    @media (max-width: 479px){
      .btn-about{
        margin-top:1rem;
      }
    }
    @media (max-width: 410px){
      h1{font-size: 2.5rem!important;}
    }
  
</style>
{{/extend}}
      <!-- banner -->
      <section class="sb-banner">
        <div class="sb-bg-1">
          <div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title">
                  {{!-- <span class="sb-suptitle sb-mb-30">Hi, new friend!</span> --}}
                  <h1 class="sb-mb-30" style="font-size: 3.5rem;">
                    Specialist Supplier & Manufacturer of high-quality equipment for Rehab and Physiotherapy - electrotherapy machines.</h1>
                  <p class="sb-text sb-text-lg sb-mb-30">Minsheng Medical is a Chinese manufacturer specializing in precision frequency treatment equipment, specializing in the production of electrotherapy devices and terahertz technology products. Our factory has obtained ISO and CE certifications, providing OEM solutions from research and development to mass production for global partners. We are committed to bringing medical devices from hospitals to homes, enabling patients to conduct self-monitoring and treatment at home, making health management more convenient.</p>
                  <a href="/products" class="sb-btn">
                    <span class="sb-icon">
                      {{!-- <i class="fa fa-bars" aria-hidden="true"></i> --}}
                      <img src="/images/picture/menu.svg" alt="icon">
                    </span>
                    <span>Our Products</span>
                  </a>
                  <a href="/support/about" class="sb-btn sb-btn-2 sb-btn-gray btn-about">
                    <span class="sb-icon">
                      <img src="/images/picture/arrow.svg" alt="icon">
                    </span>
                    <span>About Us</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="">
                <div class="">
                  <img src="/images/picture/factory.jpg" alt="" class="d-none-mobile sb-top" style="width: 550px;margin-left: 2rem;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->
      <!-- About text -->
      <section class="sb-about-text sb-p-90-0" style="padding-top: 0!important;">
        <div class="sb-bg-1" style="margin-top: 90px">
          <div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-2 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="/images/picture/staff-working.jpg" alt="interior" class="sb-interior" style="object-position: center">
                </div>
                <div class="sb-square"></div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
                <div class="sb-experience">
                  <div class="sb-exp-content">
                    <p class="sb-h1 sb-mb-10">17</p>
                    <p class="sb-h3">Years Experiense</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center sb-mb-60">
              <h2 class="sb-mb-60">We are doing more than <br>you expect</h2>
              <p class="sb-text sb-mb-30">At Minsheng Medical, we push boundaries in healthcare innovation. Nestled in Guangzhou's tech hub, we combine cutting-edge research with precision engineering to deliver revolutionary physical therapy and medical equipment. Our solutions don’t just meet industry standards—they redefine what’s possible in patient care and treatment efficiency.</p> 
              <p class="sb-text sb-mb-30">From advanced OEM customization to rigorous quality control, every product reflects our commitment to perfection. We offer competitive pricing without compromise, ensuring premium technology remains accessible. With fast global delivery and dedicated after-sales support, we turn transactions into long-term partnerships.</p>
              <p class="sb-text sb-mb-30">We believe healthcare innovation should be transformative, not just transactional. That's why we go beyond expectations—delivering smarter solutions, stronger support, and sustainable value. Partner with Minsheng Medical and experience the difference of working with true industry pioneers.</p>
              <img src="/images/picture/signature.png" alt="Signature" class="sb-signature sb-mb-30">
            </div>
          </div>
        </div>
      </section>
      <!-- About text end -->

      <!-- features -->
      <section class="sb-features sb-p-0-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">01</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Unsurpassed Quality Assurance</h3>
                  <p class="sb-text">A Vow to Achieve Unmatched Perfection and Excellence. At the very heart of Minsheng Medical Technology Co., Ltd., we have crafted a state-of-the-art quality control system, ensuring unwavering excellence at every step. With operations that meticulously manage and elevate our prestigious reputation, we are relentless in our pursuit of extraordinary standards.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">02</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">OEM Customization Available</h3>
                  <p class="sb-text">Personalized Solutions for Your Brand's Distinctive Identity Elevate your brand's presence with our extensive customization options. By integrating your unique logo, you not only differentiate your products but also carve out a distinct space in the marketplace and forge a personalized bond with your target audience.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">03</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Unrivaled Pricing Strategy</h3>
                  <p class="sb-text">Amplifying Value, Reducing Costs for Strategic Benefit. We are committed to delivering exceptional value. Our clients benefit from the market's most favorable price-to-performance balance. This strategic advantage makes premium products, like the Multi-Layer Adjustable Hospital Monitor Stand Trolley for Clinics, accessible and economically viable, enhancing your investment returns.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">04</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Prompt and Reliable Delivery</h3>
                  <p class="sb-text">Swift, Secure, and Dependable.Once your exquisitely crafted order is prepared,we ensure swift shipping, guaranteeing timely arrival exactly when needed. Our expert logistics empower us to meet your timeline with remarkable precision and unwavering reliability.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">05</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Comprehensive After-Sale Support</h3>
                  <p class="sb-text">Assurance, Care, and Peace of Mind Enjoy unparalleled peace of mind with our comprehensive one-year warranty on every purchase. This promise reflects our dedication to outstanding quality and customer satisfaction, offering support beyond the initial sale to guarantee your complete satisfaction.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features end -->

      <!-- short menu -->
      <section class="sb-short-menu sb-p-0-90">
        <div class="sb-bg-2">
          <div></div>
        </div>
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
              <h2 class="sb-mb-30">Most <span>popular</span> Products</h2>
              <p class="sb-text">We offer OEM solutions, from R&D to bulk production, ensuring medical-grade quality & competitive pricing for global partners.</p>
            </div>
            <div class="sb-right sb-mb-30">
              <!-- slider navigation -->
              {{!-- <div class="sb-slider-nav">
                <div class="sb-prev-btn sb-short-menu-prev"><i class="fas fa-arrow-left"></i></div>
                <div class="sb-next-btn sb-short-menu-next"><i class="fas fa-arrow-right"></i></div>
              </div> --}}
              <!-- slider navigation end -->
              <!-- button -->
              <a href="/products" class="sb-btn">
                <span class="sb-icon">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                <span>All Products</span>
              </a>
              <!-- button end -->
            </div>
          </div>
          <div class="swiper-container sb-short-menu-slider-3i">
            <div class="swiper-wrapper">
              {{#if products.length}}
                {{#each products}}
                <div class="swiper-slide">
                  {{> products/_product}}
                </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
      </section>
      <!-- short menu end -->

      <!-- call to action -->
      <section class="sb-call-to-action">
         {{> page/contact}}
      </section>
      <!-- call to action end -->


{{#extend "js"}}
<script>
  window.onload = function() {
  initializeContactForm('contactForm','/user/postContact');
  };
</script>
{{/extend}}
